<article class="productCard">
  <% if (locals.user == undefined || locals.user.category_id == 1 || locals.user.category_id == undefined) {  %>
    <a href="/productDetail/<%=Product.id%>"><img class="productImg"src="<%= Product.image %>"></a>
    <p class="productBrand"><%= Product.brand %></p>
    <p class="productName"><%= Product.name %></p>
    <p class="productCuotas">18 cuotas sin interés de</p>
    <p class="productPrecio">$<%= Product.price %></p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="productprecioFinal">$<%= Product.final_price %></p>
    </div>
  <% } else if (locals.user.category_id == 2) { %>
    <div class="productsAdmin">
    <a href="/edit/<%=Product.id%>"><i id="editButton" class="fas fa-edit iconEdit"></i></a>
    <a href="/productDetail/<%=Product.id%>"><img class="productImgAdmin"src="<%= Product.image %>"></a>
    <p class="productBrand"><%= Product.brand %></p>
    <p class="productName"><%= Product.name %></p>
    <p class="productCuotas">18 cuotas sin interés de</p>
    <p class="productPrecio">$<%= Product.price %></p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="productCuotas">$<%= Product.final_price %></p></div>
  </div>
  <% }  %>
  </article>

  