<article class="productCard">
    <a href="/productDetail/<%=product.id%>"><img class="productImg"src="<%= product.image %>"></a>
    <p class="productBrand"><%= product.brand %></p>
    <p class="productName"><%= product.name %></p>
    <p class="productCuotas">18 cuotas sin interés de</p>
    <p class="productPrecio">$<%= product.price %></p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="productprecioFinal">$<%= product.finalPrice %></p>
    </div>
  </article>