<!DOCTYPE html>
<html>
<%- include('./partials/head')%>

  <body>
<%- include('./partials/header')%>

<%- include('./partials/nav')%>

</body>

<div class="section-title">
  <p>Guitarras/electricas</p>
  </div>
<section class="Product-detail">
<div class="galeria-producto">
  <i class="fas fa-chevron-up"></i>
  <a><img src="<%= Product.image %>" height="150px" ></a>
  <a><img src="<%= Product.image2 %>" height="150px" ></a>
  <a><img src="<%= Product.image3 %>" height="150px"></a>
  <i class="fas fa-chevron-down"></i>
</div>

<div class="Product">
<a><img src="<%= Product.image %>" height="450px"></a>
</div>
<article class="item-description">
<div class="description">
<div class="marca">
  <h2><%= Product.brand %></h2><br>
  <h3><%= Product.name %></h3><br>
  <div class="precio">
    <span class="cuotas">18 cuotas de</span>
    <span class="valor-cuotas">$<%= Product.price %></span><br>
    <span class="precio-final">$<%= Product.final_price %></span><br>
  </div><br>
  <p class="quick_desc"><%= Product.description %></p>
  <div class="quantity_box"><br><br><br><br><br>
      <span>Cantidad:</span>
    <div >
      
      <select class="Product-qty">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
      <a href="/productCart"><input  class="btn-primary" type="submit"  value="Comprar" ></a>
    </div>
  </div>

</div>
</div>
</div>
</article>
<article class="payment-methods">
<div>

<p class="div-payment-methods">MEDIOS DE PAGO</p><br>
<div><img class="img-payment-methods" src="/images\f-productDetail\tarjetas-detail.jpg"></div>
<div class="payment-conditions1"><i id="green-check" class="fas fa-check"></i>
<p >3,6, 12 y 18 cuotas sin interés<br>con todas las tarjetas bancarias.</p></div>
<div class="payment-conditions2"><i id="green-check"  class="fas fa-check"></i>
<p>5% OFF por pagos en 3 cuotas<br>sin interés.</p></div>
<div class="payment-conditions1"><i id="green-check"  class="fas fa-check"></i>
<p ></i>15% OFF abonando en efectivo.</p></div>
<div><p class="no-se-cp"><i class="fas fa-truck"></i>Metodos de Envio</p>
<input class="cp" type="text" placeholder="Tu Código Postal" value="Tu Código Postal">
<input class="calcular" type="submit" value="CALCULAR">
<div><p class="no-se-cp">No se mi codigo postal.</p></div>
</div>
</article>
</section>
<hr class="division" >

<%- include('./partials/recomendados')%>

<%- include('./partials/footer')%>

</html>