<!DOCTYPE html>
<html>

<%- include('./partials/head')%>

    <!--<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8" />
    <link href='/stylesheets/style.css' rel='stylesheet' />
    <title>Jamming Store</title>
    <script src="https://kit.fontawesome.com/29e46bb5b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>-->

    <body>
        <%- include('./partials/header')%>


            <!-- <header>
        <img src="/images/f-logo/logo-j-blanco.png" class="logo" />
        <nav class="topNav">
            <ul class="headerShortcuts">
                <li class="headerLi"><a href="/">Home</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="*">Productos</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/register">Registrarse</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/login">Mi Cuenta</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/contact">Contacto</a></li>
            </ul>
            </div>
        </nav>
        <div>
            <input type="text" class="searchBar" placeholder="&#xF002;" style="font-family:Arial, FontAwesome" />
        </div>
        <a href="/productCart"><i class="fas fa-shopping-bag iconHeader"></i></a>
    </header>-->

            <main class="main-Edit" ,>

                <div class="card-edit">
                    <div class="card-left-edit">
                        <div class="card-logo-edit">
                            <img src="/images/f-logo/logo-j-color.png" alt="logo">
                        </div>
                        <div class="card-title-login">
                            <h2>Bienvenido/a admin</h2>
                        </div>

                        <div class="card-parrafo-login">
                            <p>Edita y borra tus productos llenando estos campos:</p>
                        </div>

                        <script>
                            const form = document.getElementById('form');
                            const brand = document.getElementById('brand');
                            const name = document.getElementById('name');
                            const description = document.getElementById('description');
                            const file = document.getElementById('file');
                            const mainCategory = document.getElementById('mainCategory');
                            const price = document.getElementById('price');
                            const finalprice = document.getElementById('finalprice');

                            function checkInputs() {
                                const brandValue = brand.value.trim();
                                const nameValue = name.value.trim();
                                const descriptionValue = description.value.trim();
                                const fileValue = file.value.trim();
                                const mainCategoryValue = mainCategory.value.trim();
                                const priceValue = price.value.trim();
                                const finalpriceValue = finalprice.value.trim();
                                
                                if(brandValue === '') {
                                    setErrorFor(brand, 'Necesitamos la marca del producto');
                                } else {
                                    setSuccessFor(brand);
                                }
                                
                                if(nameValue === '' || nameValue.length() < 5) {
                                    setErrorFor(name, 'Necesitamos el nombre del producto');
                                } else {
                                    setSuccessFor(name);
                                }

                                if(descriptionValue === '' || nameValue.length() < 5) {
                                    setErrorFor(description, 'Necesitamos la descripción del producto');
                                } else {
                                    setSuccessFor(description);
                                }

                                if (!isFile(fileValue)) {
                                            setErrorFor(file, 'Archivo inválido'); 
                                } else {
                                    setSuccessFor(file)
                                }

                                if(mainCategoryValue === '') {
                                    setErrorFor(mainCategory, 'Necesitamos la categoría del producto');
                                } else {
                                    setSuccessFor(mainCategory);
                                }

                                if(priceValue === '') {
                                    setErrorFor(price, 'Necesitamos el precio parcial del producto');
                                } else {
                                    setSuccessFor(price);
                                }

                                if(finalpriceValue === '') {
                                    setErrorFor(finalprice, 'Necesitamos el precio del producto');
                                } else {
                                    setSuccessFor(finalprice);
                                }
                                
                            }



                            form.addEventListener('submit', e => {
                                e.preventDefault();
                                
                                checkInputs();
                            });

                            function setErrorFor(input, message) {
                                const formControl = input.parentElement;
                                const small = formControl.querySelector('small');
                                formControl.className = 'form-field error';
                                small.innerText = message;
                            }

                            function setSuccessFor(input) {
                                const formControl = input.parentElement;
                                formControl.className = 'form-field success';
                            }
                                
                            function isFile() {
                            var file = document.querySelector("#file");
                            if ( /\.(jpe?g|png|gif)$/i.test(file.files[0].name) === false ) { alert("not an image!"); }
                            }
                        </script>

                        <form method="POST" action="/edit/<%=product.id%>?_method=PUT" class="card-form" enctype="multipart/form-data" id="form">
                            <div class="all-inputs">


                                <div class="form-field-edit">
                                    <label for="brand">Marca</label>
                                    <input id="brand" type="text" name="brand" value="<%=product.brand_id%>">
                                    <!--<i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small> -->
                                </div>
                                <div class="form-field-edit">
                                    <label for="name">Nombre</label>
                                    <input id="name" type="text" name="name" value="<%=product.name%>">
                                    <!--<i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small> -->
                                </div>

                                <div class="form-field-edit-desc">
                                    <label for="description">Descripción</label>
                                    <textarea class="textarea-desc" rows="6"  name="description" value=>"<%=product.description%>"</textarea>
                                    <!--<i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small> -->
                                </div>
                                <div class="form-field-edit">
                                    <label for="file"> Imagen </label>
                                    <input id="file" type="file" name="image">
                                    <!--<i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small> -->
                                </div>
                               <!--<div class="form-field-edit">
                                    <label for="">Imagen</label>
                                    <input type="text" name="mainCategory" value="<%=product.mainCategory%>">
                                </div>-->
                                
                                <div class="form-field-edit">
                                    <label for="mainCategory">Categoría</label>
                                    <input id="mainCategory" type="text" name="mainCategory"value="<%=product.mainCategory%>" >
                                    <!--<i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small> -->
                                </div>
                                <div class="form-field-edit">
                                    <label for="price">Precio</label>
                                    <input id="price" type="text" name="price" value="<%=product.price%>">
                                    <!--<i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small> -->
                                </div>
                                <div class="form-field-edit">
                                    <label for="price">Precio final</label>
                                    <input id="finalprice" type="text" name="finalprice" value="<%=product.final_price%>">
                                    <!--<i  class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small> -->
                                </div>
                                
                        <div class="check-recover">
                            <!--
                            <input class="checkbox" name="checkbox" type="checkbox">
                            <label class="checkbox" for="">Recuerdame</label>
                            <a class="recover-password" href="*"> Olvidé mi contraseña</a>
                            -->
                        </div>
                        
                                <div class="form-button">
                                   
                                    

                                </div>
                            </div>
                        </form>

                       

                        <!--  ******* NUEVO BOTON BORRADO DE PRODUCTO********-->
                       <div class="edit-buttons">
                        <form action="/delete/<%=product.id%>?_method=DELETE" method="POST">
                            <input type="submit" class="button-signup" value="Borrar Producto">
                            <input type="submit" class="button-login" value="Actualizar">
                        </form>  
                        
                        </div>
                        <!--<div class="card-left-footer">
                            <p>Log in with</p>
                            <div class="links-network">
                                <a href="https://www.google.com.ar"><i class="fab fa-google"></i></a>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></i></a>
                                <a href="https://twitter.com/login?lang=es"><i class="fab fa-twitter"></i></i></a>
                            </div>


                        </div>-->
                    </div>
                    <!--
            <div class="card-right-login">
                <img src="/images/foto REGISTRO.jpg" alt="foto guitarra">
            </div>
            -->
                </div>

            </main>
            <%- include('./partials/footer')%>
                <!-- <footer class="f-login-register">
                <div>
                    <p class="footerCategoryTitle">Productos</p>
                    <div class="footerItemHolder">
                        <p class="footerItem">Cuerdas</br>Pianos y Teclados</br>Vientos</p>
                        <p class="footerItemEscaped">Baterías y Percusión</br>Sonido</p>
                    </div>
                </div>
                <div>
                    <p class="footerCategoryTitle">Atención</p>
                    <p class="footerItem">Condiciones y Formas de Pago</br>Contacto</p>
                </div>
                <div>
                    <p class="footerCategoryTitle">Contactános</p>
                    <div class="footerItemHolder"></div>
                    <div class="footerIconText"><i class="fas fa-phone-alt"></i>
                        <p class="footerItemEscaped">+54 11 15-698-652</p>
                    </div>
                    <div class="footerIconText"><i class="fas fa-envelope"></i>
                        <p class="footerItemEscaped">jammingstore@gmail.com</p>
                    </div>
                </div>
                </div>
                <div class="footerLocation">
                    <div class="footerIconText"><i class="fas fa-map-marker-alt"></i>
                        <p class="footerItemEscaped">Depósito Loyola 145</br>CP 1414, Villa Crespo</p>
                    </div>
                </div>
            </footer>-->
    </body>

</html>