<!DOCTYPE html>
<html>
  <%- include('./partials/head')%>

  <body>
    <%- include('./partials/header')%>

    <%- include('./partials/nav')%>
      <div class="sidebarAlignment">
      <div class="sidebar">
        <div class="sidebarCategory">
          <p class="sidebarCategoryTitle">Instrumentos</p>
          <label class="sidebarItem"><a href ="/search?search=Guitarra"class="sidebarCheckbox"><i class="far fa-square"></i> Guitarras</a></label>
          <label class="sidebarItem"><a href ="/search?search=Bajo"class="sidebarCheckbox"><i class="far fa-square"></i> Bajos</a></label>
          <label class="sidebarItem"><a href ="/search?search=Trompeta"class="sidebarCheckbox"><i class="far fa-square"></i> Vientos</a></label>
          <label class="sidebarItem"><a href ="/search?search=Bateria"class="sidebarCheckbox"><i class="far fa-square"></i> Baterias</a></label>
          <label class="sidebarItem"><a href ="/search?search=Percusion"class="sidebarCheckbox"><i class="far fa-square"></i> Percusión</a></label>
          <label class="sidebarItem"><a href ="/search?search=Teclado"class="sidebarCheckbox"><i class="far fa-square"></i> Teclados</a></label>
        </div>
      <hr>
        <div class="sidebarCategory">
          <p class="sidebarCategoryTitle">Equipo</p>
          <label class="sidebarItem"><a href ="/search?search=Pedal"class="sidebarCheckbox"><i class="far fa-square"></i> Pedales</a></label>
          <label class="sidebarItem"><a href ="/search?search=bandeja"class="sidebarCheckbox"><i class="far fa-square"></i> Bandejas</a></label>
          <label class="sidebarItem"><a href ="/search?search=Placa"class="sidebarCheckbox"><i class="far fa-square"></i> Placas de Sonido</a></label>
          <label class="sidebarItem"><a href ="/search?search=Cable"class="sidebarCheckbox"><i class="far fa-square"></i> Cables</a></label>
          <label class="sidebarItem"><a href ="/search?search=Guitarra"class="sidebarCheckbox"><i class="far fa-square"></i>Accesorios</a></label>
        </div>
      <hr>
        <div class="sidebarCategory">
          <p class="sidebarCategoryTitle">Marcas</p>
          <label class="sidebarItem"><a href ="/search?search=Fender"class="sidebarCheckbox"><i class="far fa-square"></i> Fender</a></label>
          <label class="sidebarItem"><a href ="/search?search=Epiphone"class="sidebarCheckbox"><i class="far fa-square"></i> Epiphone</a></label>
          <label class="sidebarItem"><a href ="/search?search=Squier"class="sidebarCheckbox"><i class="far fa-square"></i> Squier</a></label>
          <label class="sidebarItem"><a href ="/search?search=Pearl"class="sidebarCheckbox"><i class="far fa-square"></i> Pearl</a></label>
          <label class="sidebarItem"><a href ="/search?search=Hartke"class="sidebarCheckbox"><i class="far fa-square"></i> Hartke</a></label>
          <label class="sidebarItem"><a href ="/search?search=Ibanez"class="sidebarCheckbox"><i class="far fa-square"></i> Ibanez</a></label>
          <label class="sidebarItem"><a href ="/search?search=Yamaha"class="sidebarCheckbox"><i class="far fa-square"></i> Yamaha</a></label>
          <label class="sidebarItem"><a href ="/search?search=SAMSON"class="sidebarCheckbox"><i class="far fa-square"></i> SAMSON</a></label>
          <label class="sidebarItem"><a href ="/search?search=Gibson"class="sidebarCheckbox"><i class="far fa-square"></i> Gibson</a></label>
        </div>
      </div>
      <div class="pageBody">
      
      <div class="productListSubHeader">
      <p class="productTitle">Productos</p>
      <div class="productListNav">
        <div class="plNavItem">
          <p class="plNavItemText">Mostrando todos los resultados</p>
        </div>
        <div class="plNavItem">
          <p class="plNavItemText">Los más vendidos</p>
        </div>
        <div class="plNavItem">
          <label class="plNavItemLabel" for="orderBy">Ordenar por<select class="plNavSelect" name="orderBy">
            <option value="relevance">Relevancia</option>
            <option value="price">Precio</option>
            <option value="az">A-Z</option>
            <option value="new">Nuevo</option>
          </select></label>
        </div>
        <div class="plNavItemEscaped">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
      </div>
    </div>
      
    
      <section class="products">
        <% for (let i = 0; i < Product.length; i++){ %>
          <%- include('./partials/productCard', {Product: Product[i]})%>
          <%}%>
        </section>
        
          <div class="advertsSection">
            <div class="advertBannerContainer">
              <img class="advertBanner" src="images/f-productList/yamaha-banner.jpeg">
            </div>
            <div class="advertBannerContainer">
              <img class="advertBanner" src="images/f-productList/pearl-banner.jpeg">
            </div>
            <div class="advertBannerContainer">
              <img class="advertBanner" src="images/f-productList/pioneer-banner.jpeg">
            </div>
            <div class="advertBannerContainer">
              <img class="advertBanner" src="images/f-productList/gibson-banner.jpeg">
            </div>
          </div>
          <div class="partnerBrandsContainer">
            <img class="parnerBrandsImg" src="images/f-productList/partner-brands.jpeg">
          </div>
        <div class="networkBannerContainer">
          <img class="networkBanner" src="images/f-productList/network-banner.jpeg">
        </div>
         
    </div>
  </div>
  
  <%- include('./partials/footer')%>
</body>