<!DOCTYPE html>
<html>
  <%- include('./partials/head')%>

  <body>
    <%- include('./partials/header')%>

    <%- include('./partials/nav')%>
      <div class="sidebarAlignment">
      <div class="sidebar">
        <div class="sidebarCategory">
          <p class="sidebarCategoryTitle">Instrumentos</p>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Guitarras</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Bajos</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Vientos</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Baterías</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Percusión Varios</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Teclados</label>
        </div>
      <hr>
        <div class="sidebarCategory">
          <p class="sidebarCategoryTitle">Equipo</p>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Pedales</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Bandejas</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Placas de sonido</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Cables</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Accesorios</label>
        </div>
      <hr>
        <div class="sidebarCategory">
          <p class="sidebarCategoryTitle">Marcas</p>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Fender</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Epiphone</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Squier</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Pearl</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Hartke</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Ibanez</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Yamaha</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">SAMSON</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Gibson</label>
        </div>
      </div>
      <div class="pageBody">
      
      <div class="productListSubHeader">
      <p class="productTitle">Productos</p>
      <div class="productListNav">
        <div class="plNavItem">
          <p class="plNavItemText">Mostrando todos los resultados</p>
        </div>
        <div class="plNavItem">
          <p class="plNavItemText">Los más vendidos</p>
        </div>
        <div class="plNavItem">
          <label class="plNavItemLabel" for="orderBy">Ordenar por<select class="plNavSelect" name="orderBy">
            <option value="relevance">Relevancia</option>
            <option value="price">Precio</option>
            <option value="az">A-Z</option>
            <option value="new">Nuevo</option>
          </select></label>
        </div>
        <div class="plNavItemEscaped">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
      </div>
    </div>
      
      <section class="products">
        <% for (let i = 0; i < Product.length; i++){ %>
          <%- include('./partials/productCard', {Product: Product[i]})%>
          <%}%>
        </section>
        <div class="advertsSection">
          <div class="advertBannerContainer">
            <img class="advertBanner" src="images/f-productList/yamaha-banner.jpeg">
          </div>
          <div class="advertBannerContainer">
            <img class="advertBanner" src="images/f-productList/pearl-banner.jpeg">
          </div>
          <div class="advertBannerContainer">
            <img class="advertBanner" src="images/f-productList/pioneer-banner.jpeg">
          </div>
          <div class="advertBannerContainer">
            <img class="advertBanner" src="images/f-productList/gibson-banner.jpeg">
          </div>
        </div>
        <div class="partnerBrandsContainer">
          <img class="parnerBrandsImg" src="images/f-productList/partner-brands.jpeg">
        </div>
      <div class="networkBannerContainer">
        <img class="networkBanner" src="images/f-productList/network-banner.jpeg">
      </div>
    </div>
  </div>
  <%- include('./partials/footer')%>
</body>