<!DOCTYPE html>
<html>
<%- include('./partials/head')%>

    <body>
        <%- include('./partials/header')%>

            <main id="main-register">

                <div class="card-register">
                    <div class="card-left-register">
                        <div class="card-logo">
                            <img src="images/f-logo/logo-j-color.png" alt="logo">
                        </div>
                        <div class="card-title-register">
                            <h1>Crea tu usuario </h1>
                        </div>

                        <div class="card-parrafo-register">
                            <p>Por favor, llena estos campos para poder registrarte</p>
                        </div>
                        <%if(typeof errors != 'undefined'){%>
                            <p style="color: red">ERROR </p>
                            <ul>
                                <% errors.forEach(function(elemento){ %>
                                    <li>
                                        <%= elemento.msg %>
                                    </li>

                                    <% }) %>
                            </ul>
                            <% } %>
                                <form action="/register" method="POST" class="card-form" enctype="multipart/form-data" id="form">
                                    <div class="all-inputs">

                                        <div class="form-field">
                                            <label for="name"></label>
                                            <input id="name"type="text" name="name" placeholder="Nombre y Apellido" value="<%=data.name%>" required>
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <small>Error message</small>
                                        </div>

                                        <div class="form-field">
                                            <label for="email"></label>
                                            <input type="email" id="email" name="email" placeholder="Email" value="<%=data.email%>" required>
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <small>Error message</small>
                                        </div>
                                        <div class="form-field">
                                            <label for="password"></label>
                                            <input id="password"type="password" name="password" placeholder="Contrase침a" value="<%=data.password%>" required> 
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <small>Error message</small>
                                        </div>
                                        <!--<div class="form-field">
                                            <label for=""></label>
                                            <input type="password" name="confirmPassword" placeholder="Confirmar contrase침a" value="<%=data.confirmPassword%>"
                                        </div>-->
                                        <div class="form-field">
                                            <label for="file"></label>
                                            <input id="file"type="file" name="file" placeholder="Avatar" value="<%=data.file%>">
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <small>Error message</small>
                                        </div>

                                        <div class="form-button">
                                            <input type="submit" class="button-createuser" value="CREAR USUARIO">

                                        </div>
                                    </div>
                                </form>

                                <script>
                                    const form = document.getElementById('form');
                                    const name = document.getElementById('name');
                                    const email = document.getElementById('email');
                                    const password = document.getElementById('password');

                                    function checkInputs() {
                                        // trim to remove the whitespaces
                                        const nameValue = name.value.trim();
                                        const emailValue = email.value.trim();
                                        const passwordValue = password.value.trim();
                                        
                                        if(nameValue === '' || nameValue.length() < 2) {
                                            setErrorFor(name, 'Necesitamos tu nombre');
                                        } else {
                                            setSuccessFor(ame);
                                        }
                                        
                                        if(emailValue === '') {
                                            setErrorFor(email, 'Necesitamos tu email');
                                        } else if (!isEmail(emailValue)) {
                                            setErrorFor(email, 'Email inv치lido');
                                        } else {
                                            setSuccessFor(email);
                                        }
                                        
                                        if(passwordValue === '' || passwordValue.length() < 8) {
                                            setErrorFor(password, 'Tu contrase침a debe tener al menos 8 caracteres.');
                                        } else {
                                            setSuccessFor(password);
                                        }
                                        
                                    }



                                    form.addEventListener('submit', e => {
                                        e.preventDefault();
                                        
                                        checkInputs();
                                    });

                                    function setErrorFor(input, message) {
                                        const formControl = input.parentElement;
                                        const small = formControl.querySelector('small');
                                        formControl.className = 'form-field error';
                                        small.innerText = message;
                                    }

                                    function setSuccessFor(input) {
                                        const formControl = input.parentElement;
                                        formControl.className = 'form-field success';
                                    }
                                        
                                    function isEmail(email) {
                                        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
                                    }
                                </script>

                    </div>
                    <div class="card-right-register">
                        <img src="images/f-register/foto REGISTRO.jpg" alt="foto guitarra">
                    </div>
                </div>
            </main>

            <%- include('./partials/footer')%>

    </body>

</html>