<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	<%- include('./partials/nav')%>
	
<main class="mainWhite">
 
	 <div class="pageBody">
		
			<div class="productListSubHeader">
				<h2 class="products-title">Resultados de la búsqueda: <%= search %></h2>
			</div>
			<div class="products">
			<% if(products.length > 0) { %> 
				<% products.forEach(product => { %>
				
				<div>
					<section >
						<a href="/productDetail/<%= product.id %> ">
							<!--<figure class="product-box_image">
								<img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
							</figure>-->
							<article class="productCard">
                                
                                  <a href="/productDetail/<%=product.id%>"><img class="productImg"src="<%= product.image %>"></a>
                                  <p class="productBrand"><%= product.brand %></p>
                                  <p class="productName"><%= product.name %></p>
                                  <p class="productCuotas">18 cuotas sin interés de</p>
                                  <p class="productPrecio">$<%= product.price %></p>
                                  <div class="precioFinalDiv">
                                  <p style="font-size: 13px">Precio final: </p>
                                  <p class="productprecioFinal">$<%= product.final_price %></p>
                                  </div>
							</article>
						</a>
					</section>
				</div>
				
				<% }); %>
			<% } else { %>

				<div class="col-12">
					<h2 class="products-title" style="color: red;">No hay productos que coincidan con esa búsqueda</h2>
				</div>

			<% } %>
		</div>
	</div>
</main>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>